* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.welcome_card h1 {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 100px;
    text-align: center;
}

.welcome_card p {
    font-size: 15px;
    text-align: justify;
    align-items: center;
}

.menu_items {
    margin-top: 25px;
}

.home_button {
    border: none;
    outline: none;
    background: none;
    padding: -50px;
    margin-top: 25px;
    margin-left: 50px;
    transition: transform .2s;
    display: inline;
}

.menu_items ul{
    position: relative;
    text-align: center;    
}

.menu_items li {
    display: inline;
    margin: 10px;
    padding: 5px;
    text-decoration: aqua;
    margin-top: 5px;
}

.menu_items li a {
    text-decoration: none;
    font-size: 20px;
    color: #242526;
}

.menu_items a:hover {
    border-bottom: solid 2px #242526;
    border-radius: 1px;

}

.welcome_card {             /*Hello card*/
    position: relative;
    margin: 150px auto;
    width: 300px;
    background-color: #f4f4f9;
    border-radius: 10px;
    padding: 50px;
    margin-top: 60px;
}

.home_button:hover {
    transform: scale(1.1);
}

/*.copyright {
    padding: 0px 60px;
    font-size: 10px;
}*/

.foot{
    padding: 0px 60px;
    font-size: 10px;
    margin-bottom: -10px;    
}

.foot .copyright{
    margin-bottom: -5px;
}

.contact_buttons {
    float: right;
    position: relative;
    justify-content: center;
    margin-top: -17px;
    margin-left: 5px;    
}

.github {
    border: none;
    outline: none;
    background: none;
    display: inline;
}

.linkedin {
    border: none;
    outline: none;
    background: none;
    display: inline;
}


@media screen and (min-width: 620px) { /*small tablets*/
    .welcome_card {
        width: 600px;
    }
}

@media screen and (min-width: 960px) { /*large tablets and laptops*/
    .menu_items li {
        display: inline;
    }

    .menu_items {
        width: 100%;
    }

    .welcome_card {
        width: 800px;
    }

        .menu_items {
            width: 96%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        } 

        .home_button {
            margin-left: 90px;
        }

        .welcome_card h1 {
            font-size: 200px;
            text-align: left;
            padding: 30px;
            margin: 20px;
        }


 
}

@media screen and (min-width: 1200px) { /*desktop*/
    .welcome_card {
        width: 1200px;
    }

    .menu_items {
        width: 84%;
    }

    .home_button {
        margin-left: 320px;
    }

    .welcome_card p {
        max-width: 580px;
        margin-top: -40px;
        margin-left: 50px;
        font-size: 18px;
        margin-bottom: 60px;
    }
}